.topbar .nav {
	float: right;
}



.topbar div > ul{
	display: block;
	float: left;
	margin: 7px 10px 0 0;
	position: relative;
	left: 0;
}

.topbar h3 a, .topbar .brand {
float: left;
display: block;
padding: 5px 20px 5px;
margin-left: -20px;
color: white;
font-size: 20px;
font-weight: 200;
line-height: 1;
}

.topbar .header {
	background-color: #F8F8F8;
	border-bottom: 1px solid #E0E0E0;
	padding: 5px 0;
}

.topbar div > ul > li{
	display: block;
	float: left;
}

.topbar .nav a{
	color: #555;
	cursor: pointer;
}

.topbar div > ul a, .nav a {
	display: block;
	float: none;
	margin-top: 4px;
	padding: 5px 14px 6px;
	line-height: 19px;
	text-decoration: none;
}
.topbar .nav a, .topbar .secondary-nav a {
	font-size: 14px;
	text-shadow: none;
}

	.topbar .nav a{
	color: #555;
	cursor: pointer;
}

.topbar .header {
	background-color: #F8F8F8;
	border-bottom: 1px solid #E0E0E0;
}

.topbar .nav button.btn {
	color: white;
	padding: 0 20px 0;
	line-height: 19px;
}

.ac {
	text-align: center;
}

.margin-top-20{
	margin-top:20px;
}

.margin-top-10{
	margin-top:10px;
	
}

.submenu a.active{
	color:green;
	font-size: 25px;
}


